<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class=" auth-bg">

  <div class="auth-content">

    <div class="light-bg">

      <!-- Logo -->
      <div padding text-center>
        <div class="logo secondary-bg">
          <ion-icon name="ios-car" color="light"></ion-icon>
        </div>
        <h2 ion-text color="dark">
          PibiTaxi
        </h2>
        <p ion-text color="dark">PibiTaxi Taxi app</p>
      </div>

      <!-- Login form -->

      <ion-list class="list-form" padding>

        <ion-item>
          <ion-input type="text" [(ngModel)]="email" placeholder="Email or username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
        </ion-item>

      </ion-list>

      <div padding>
        <button ion-button color="secondary" block (click)="login()">
          Entrar
        </button>
        <button ion-button block color="fb-color" (click)="loginWithFacebook()">
          <span>Entrar con Facebook</span>
        </button>
        <button ion-button block color="gg-color" (click)="loginWithGoogle()">
          <span ion-text color="danger">Entrar con Google</span>
        </button>
      </div>

    </div>

    <div padding=""></div>

    <!-- Other links -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <span ion-text color="light">Forgot password?</span>
        </ion-col>
        <ion-col>
          <span ion-text color="light">
            New here?
            <span ion-text color="secondary" (click)="signup()">Sign up</span>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
