<!--
  Generated template for the ModalJobPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-title>{{ nombre }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>



  <!-- buttons on bottom-->
  <ion-grid class="bottom-buttons">

    <ion-row>
	
	 

      <ion-col col-5 text-center class="remaining">
        <span>{{ remainingTime }}</span>
      </ion-col>
       <ion-col col-5 > 
	   <button ion-button block color="danger" (click)="close()">OMITIR</button>
     
      </ion-col>
	   
        <button ion-button block color="secondary" (click)="accept()">ACEPTAR</button>
     
    </ion-row>
  </ion-grid>

</ion-content>
