page-modal-job,
.modal-job {
  h4 {
    margin-top: 0;
  }

  .icon-job {
    font-size: 2em;
    margin-top: 5px;
  }

  .remaining {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 8em;
    }
  }

  .text-middle {
    display: flex;
    align-items: center;
  }
}
