<!--
  Generated template for the PickUpPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Recoger</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class=" primary-bg">
  <div class="light-bg padding-xs" padding-top>

    <ion-badge color="secondary" margin-bottom>{{ trip.payment_method }}</ion-badge>

    <ion-list class="list-no-border" margin-top>
      <ion-item class="round secondary-bg" margin-top>
        <ion-icon name="pin" color="light" item-left></ion-icon>
        <div>
          <span ion-text color="light">{{ trip.origin.vicinity }}</span>
        </div>
      </ion-item>
      <ion-item class="round" margin-top>
        <ion-icon name="ios-flag-outline" item-left></ion-icon>
        <div>
          <span>{{ trip.destination.vicinity }}</span>
        </div>
      </ion-item>
      <ion-item class="round secondary-bg" margin-top>
        <ion-icon name="call" color="light" item-left></ion-icon>
        <div>
          <span ion-text color="light">{{(passenger)?.phoneNumber }}</span>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <div class="align-bottom" padding>
    <button ion-button block color="secondary" (click)="pickup()">RECOGER</button>
  </div>
</ion-content>
